body 
  margin: 0
  padding: 0
  font-family: sans-serif

div.slide-pane__header
  background-color: #1D1D1D
  color: white

div.slide-pane__content
  background-color: #E1E0DA

button.StripeCheckout
  width: 100%
  margin-top: 20px 

.link
  color: #DF440D
  background-color: #00C8F0
  font-size: 1.2em
  font-weight: bold
  border: solid
  padding: 3% 6%
  text-shadow: -1px 1px black
  cursor: pointer

  &:hover
    color: #00C8F0
    background-color: #DF440D
    box-shadow: -4px 2px 5px 0px rgba(0,0,0,0.75)

@media screen and (max-width: 600px)
   
  .some-custom-class
    width: 100vw !important

  .link
    font-size: 1em
    padding: 2% 4%


@media screen and (min-width: 601px) and (max-width: 1000px)
   
  .some-custom-class
    width: 60vw !important

    





        




