body 
  margin: 0
  padding: 0
  font-family: sans-serif

// div.navbar-header
//   border-radius: 0

//   h1.navbar-brand
//         font-family: 'Pacifico', cursive
//         color: #DF440D
//         font-size: 2em
//         text-outline: 1px 1px white

//         &:hover
//             color: #DF440D


// nav.navbar.navbar-inverse
//   padding: 0.5% 0
//   margin: 0
//   border-radius: 0

//   a
//     color: #EAC435
//     font-family: 'Pacifico', cursive
//     font-size: 1.1em
//     cursor: pointer

//     &:hover
//         text-decoration: underline
    

//   button
//     background-color: transparent
//     border: none

//     &:focus
//         outline: none

//   svg
//     color: #EAC435
//     font-size: 1.5em

//     &:hover
//         color: #00C8F0

// div.slide-pane__content
//     // z-index: 999999999999

        




